@model List<ListViewModel>

<table class="table">
    <a asp-route="employee-add" target="_blank" class="btn btn-secondary">Add new employee</a>

    <thead>
        <tr>
            <th scope="col">Employee Code</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Father Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            @if (employee.IsDeleted == false)
            {

                <tr>
                    <th scope="row">@employee.EmployeeCode</th>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.FatherName</td>
                    <td>

                        <a asp-route="employee-delete" asp-route-employeecode="@employee.EmployeeCode" class="btn btn-secondary">Delete</a>
                        <a asp-route="employee-update-employeeCode" asp-route-employeecode="@employee.EmployeeCode" target="_blank" class="btn btn-secondary">Update</a>

                    </td>


                </tr>
            }
        }


    </tbody>
</table>